.bg-login div {
  background-image: url("./img/urban_1.jpg");
  height: 100vh;
  background-size: cover;
}

.box-for-login div {
  background: rgba(7, 1, 12);
  max-width: 330px;
  padding: 50px;
  margin: auto;
  height: 20%;
}

#input-style input {
}
.input-style button {
  background-color: gray;
  color: white;
  padding: 5px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 48%;
}

.input-style a {
  color: white;
}
